{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Webpack template</title>
    <script src="{% static 'core/bundle.js' %}"></script>
    {% block head%}
    {% endblock %}
  </head>

  <body>
    <div id="main-header">
      <img id="logo" src="{% static 'core/imgs/lasse_logo.png' %}" alt="logo">
      {% if user.is_authenticated %}
        <nav>
          <li><a href="{% url 'logout' %}?next={{ request.path}}">Logout</a></li>
        <nav>
      {% else %}
        <nav>
          <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
        </nav>
      {% endif %}
      <nav>
        <li><a href="{% url 'index' %}">Hjem</a></li>
      </nav>
    </div>
  {% block content %} 
  {% endblock %}
  
  </body>
</html>
 