* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fcde67;
    color: #030e12;
}

.flexcontainer-1 {
    display: flex;
    background-color: slategray;
    gap: 20px;
    justify-content: center;

}

.item-1 {
    flex-basis: 100px;
    flex-grow: 0.15;
}

.item-2 {
    flex-grow: 1;
    height: 5px;
    width: 2000px;
}


img {
    max-width: 100%;
}